<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have one application for your job listing</h1>
    <p>
      To approve applicant, just follow this link: <%= @url %>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>
