<p id="notice"><%= notice %></p>

<div class="col-md-2">
  <br/><strong>Job:</strong>
</div>
<div class="col-md-10">
  <br/><%= @application.job.job_title.capitalize %>
</div>

<div class="col-md-2">
  <br/><strong>Job Applicant:</strong>
</div>
<div class="col-md-10"></strong>
  <br/><%= @application.jobseeker.user.name %>
</div>

<div class="col-md-2">
  <br/><strong>Status:</strong>
</div>
<div class="col-md-10">
  <br/><%= @application.status %>
</div>
