<h1>New Bizowners Review</h1>


<%= render 'form', bizowners_review: @bizowners_review %>

<div class="col-md-3 col-md-pull-9" id="back_hyperlink">
<%= link_to 'Back', bizowners_reviews_path %>
</div>
