

.map {
  height: 600px;
  margin-top: 50px;
}

.companieslist {
  height: 80px;
  margin-top: 50px;
}

#companies-title {
text-align: center;
}

#companiesletters {
text-align: center;
}

#map {
  height: 100%;
}


.modal-footer{
    text-align: left;
}

.form-inline .form-group {
    margin-bottom: 11px;
}

.form-inline .control-label {
    width: 110px;
    text-align:right;
    margin-right: 10px;
}
